@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7fafc;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.outline-none:focus {
  outline: none;
}

.animate-blink {
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.inline-block {
  position: relative;
  z-index: 1;
}

.Caret {
  position: absolute;
  z-index: 0;
}

.word-container {
  transition: transform 0.25s ease; /*Adjust the transition duration to match the delay above*/
}

.animate {
  transform: translateX(-100%); /* Adjust the distance to slide out the container*/
}

.animate-complete {
  animation: fade-out 1s forwards, slide-left 1s forwards;
}

.animate-slide-out {
  animation: slide-left 1s forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200px);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-word {
  animation: slide-out 0.3s forwards, slide-in 0.3s forwards;
}

.current-word {
  animation: slide-out 0.3s forwards, slide-in 0.3s forwards;
}